.button {
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  position: relative;

  &:active {
    bottom: -2px;
  }

  &--white {
    background-color: #fff;
    color: #000;
  }

  &--white:hover {
    background-color: #b8b6b6;
  }

  &--purple {
    background-color: #a22cda;
    color: #fff;
  }

  &--purple:hover {
    background-color: #8319b4;
  }
}


